.form{
    margin: 0 auto;
    width: 40%;
}
.form > input{
    padding: 18px 20px;
    border: solid 1px #2b8a3e;
    border-radius: 5px;
    width: 70%;
    font-size: 18px;
    color: #716f6f;
}
.form > button{
    border: none;
    outline: none;
    background-color: #2b8a3e;
    padding: 12px 20px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 18px;
}