#users{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.people{
    border: solid #2b8a3e;
    border-radius: 5px;
    margin-bottom: 2%;
    text-align: center;
}
.user-list{
    text-align: center;
}
.new-user{
    border: none;
    outline: none;
    padding: 12px 20px;
    font-size: 18px;
    margin: 2% 0;
    border-radius: 5px;
    background-color:#2b8a3e;
    color: #ffffff;
    cursor: pointer;
}